.log-button {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: #10b981;
  color: hsl(0, 0%, 99%);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
