<div class="activities-table-container">
  <table class="activities-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Distance (Km)</th>
        <th>Run Type</th>
        <th>Day Period</th>
        <th>Pace (min/Km)</th>
        <th>Time</th>
        <th>Intensity</th>
        <th>Cadence</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2023-09-25</td>
        <td>5.5</td>
        <td>Tempo</td>
        <td>Morning</td>
        <td>5:30</td>
        <td>30 min</td>
        <td>Medium</td>
        <td>170</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <tr>
        <td>2023-09-24</td>
        <td>10.2</td>
        <td>Long Run</td>
        <td>Evening</td>
        <td>6:10</td>
        <td>1 hr</td>
        <td>Low</td>
        <td>160</td>
      </tr>
      <!-- Add more rows here as needed -->
    </tbody>
  </table>
</div>
