<div class="add-activity-panel-container">
  <div class="activity-props">
    <app-activity-input placeholder="Distance" />
    <app-activity-dropdown-input placeholder="Run Type" />
    <app-activity-dropdown-input placeholder="Day Period" />
    <app-activity-input placeholder="Pace" />
    <app-activity-input placeholder="Time" />
    <app-activity-input placeholder="Intensity" />
    <app-activity-input placeholder="Cadance" />
  </div>
  <div class="add-activity-button-container">
    <app-add-activity-button />
  </div>
</div>
