.stats-panel-container {
  box-sizing: border-box;
  padding: 8px;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--ds-surface-overlay);
  border-radius: 8px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  display: flex;
  flex-direction: column;
  gap: 8px;
  .stats-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #d1d5db;
  }
}
