.dashboard-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  gap: 10px;
}

.user-panel {
  height: 100%;
  width: 25%;
}

.data-panel {
  flex-grow: 1;
  height: 100%;
}
