.dashboard-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  gap: 8px;
}

.user-panel {
  height: 100%;
  width: 25%;
}

.data-panels {
  flex-grow: 1;
  height: 100%;
  gap: 1.5%;
  display: flex;
  flex-direction: column;

  .activity-panel {
    height: 9%;
  }

  .activites-table {
    height: 69%;
  }

  .stats-panel {
    height: 19%;
  }
}
