<div class="user-panel-container">
  <div class="user-panel-header">
    <img
      [src]="
        authService.user()?.photoURL
          ? authService.user()?.photoURL
          : defaultProfileImage
      "
      alt="image"
    />
    <span class="username">{{ authService.user()?.displayName }}</span>
  </div>
  <div class="user-panel-stats">
    <span
      ><span style="color: #10b981; font-weight: 600">168</span> Km Ran</span
    >
    <span>Graph of past weeks</span>
  </div>
  <div class="user-panel-footer">
    <button (click)="authService.signOut()">
      <span class="material-symbols-outlined"> logout </span>
      Logout
    </button>
  </div>
</div>
