.user-panel-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  background-color: var(--ds-surface-overlay);
  padding: 10px;
  border-radius: 8px;

  .user-panel-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ddd;
    }

    .username {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .user-panel-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .user-panel-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      color: #374151;
      cursor: pointer;
      transition: color 0.3s ease;
    }
    button:hover {
      color: #ef4444;
    }
  }
}
